{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Usuários - Painel de Controle {% endblock %} 

{% block head %}

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> <label> {{ user.get_full_name }} </label></h3>
        </div>
        <div class="card-body">
          <p> <label> E-mail: </label> {{ user.email }} </p>
          <p> <label> MASP: </label> {{ user.masp }} </p>
          {% if user.is_staff %}
            <p> <label>Administrador? </label> Sim </p>
          {% else %}
            <p> <label>Administrador? </label> Não </p>
          {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'usuario-update' user.pk %}" class="btn btn-outline-info">Editar</a>
            {% if user == request.user %}
              <button class="btn btn-outline-danger" disabled>Excluir</button>
            {% else %}
              <a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Excluir</a>
            {% endif %}
            
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'usuario-delete' user.pk %}" method="post">
            {% csrf_token %}
            Realmente deseja excluir o usuário <code>{{ user.get_full_name }}</code> ?
            Essa ação não poderá ser desfeita!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
