{% extends 'registration/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="login-box">
    <!-- <div class="login-logo">
      <img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid">
    </div> -->
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg"><img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid"></p>
        <p class="mb-0">
          Senha trocado com sucesso. Para fazer login, clique <a href="{% url 'login' %}">aqui</a>.
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

{% endblock %}
