{% extends 'registration/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="login-box">
    <!-- <div class="login-logo">
      <img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid">
    </div> -->
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg"><img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid"></p>
        <p class="mb-0">
          Acabamos de enviar um e-mail com as instruções necessárias para resetar a senha. 
          Se existir uma conta com o seu e-mail informado, logo logo você receberá.
        </p>
        <p class="mb-1">
          Se você não recebeu o e-mail, certifique-se que o e-mail existe e confira a sua caixa de spam.
          Se o problema persistir, entre em contato com o desenvolvedor.
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

{% endblock %}
