{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Calendário {% endblock %} 

{% block head %}
<!-- fullCalendar -->
<link rel="stylesheet" href="{% static 'plugins/fullcalendar/main.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fullcalendar-daygrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fullcalendar-timegrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fullcalendar-bootstrap/main.min.css' %}">
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-body">
            <div id="calendar"></div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div class="modal" id="fullCalModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modalTitle" class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> <b>Professor: <code id="professor"></code></b> </p>
          <p> <b>Disciplina: <code id="disciplina"></code></b> </p>
          <p> <b>Curso: <code id="curso"></code></b> </p>
          <p> <b>Início: <code id="start"></code> - <code id="starttime"></code></b> </p>
          <p> <b>Fim: <code id="end"></code> - <code id="endtime"></code></b> </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

fullCalendar 2.2.5
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar-daygrid/main.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar-timegrid/main.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar-interaction/main.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar-bootstrap/main.min.js' %}"></script>
<script src="{% static 'plugins/fullcalendar/locales/pt-br.js' %}"></script>

<script>
    var Calendar = FullCalendar.Calendar;
    var calendarEl = document.getElementById('calendar');
    var calendar = new Calendar(calendarEl, {
      height: 700,
      locale: 'pt-br',  
      plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      'themeSystem': 'bootstrap',
      //Random default events
      events    : [
      {% for r in reservas %}
        {
            title: "{{ r.evento }}",
            start: '{{ r.start_day|date:"Y-m-d" }} {{ r.start_time }}',
            end: '{{ r.end_day|date:"Y-m-d" }} {{ r.end_time }}',
            color: '{{ r.color }}'
            //allDay         : false,
        },
        {% endfor %}
        {% for a in aulas %}
        {
          title: "{{ a.disciplina }}",
          daysOfWeek: [ '{{ a.dia }}' ], // these recurrent events move separately
          startRecur: '{{ a.start_day|date:"Y-m-d" }}',
          endRecur: '{{ a.end_day|date:"Y-m-d" }}',
          startTime: '{{ a.start_time }}',
          endTime: '{{ a.end_time }}',
          extendedProps: {
            professor: '{{ a.professor }}',
            curso: '{{ a.curso }}'
          },
          color: '{{ a.curso.color }}',
          //url: 'http://google.com/',
        },
        {% endfor %}
      ],
      eventClick: function(event){
        console.log(event)
        $('#modalTitle').empty()
        $('#disciplina').empty()
        $('#professor').empty()
        $('#curso').empty()
        $('#start').empty()
        $('#starttime').empty()
        $('#end').empty()
        $('#endtime').empty()
        $('#modalTitle').html(event.event.title)
        $('#disciplina').html(event.event.title)
        $('#professor').html(event.event.extendedProps.professor)
        $('#curso').html(event.event.extendedProps.curso)
        $('#start').html(event.event.start.toLocaleDateString("pt-BR"))
        $('#starttime').html(event.event.start.toLocaleTimeString("pt-BR"))
        $('#end').html(event.event.end.toLocaleDateString("pt-BR"))
        $('#endtime').html(event.event.end.toLocaleTimeString("pt-BR"))
        $('#fullCalModal').modal();
      },

    });

    calendar.render();
</script>



{% endblock %}
