{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Reserva - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Laboratórios</h3>
        </div>
        <div class="card-body">
            <form method="POST" autocomplete="off" id="form-reserva">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Evento:</label>
                            {% render_field form.evento class+="form-control" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label>Responsável:</label>
                          {% render_field form.responsavel class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label>Contato:</label>
                          {% render_field form.contato class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label>E-mail:</label>
                          {% render_field form.email class+="form-control" %}
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Data Início</label>
                          {% render_field form.start_day type="date" class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label>Hora Início</label>
                        {% render_field form.start_time type="time" class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label>Data Fim</label>
                        {% render_field form.end_day type="date" class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label>Hora Fim</label>
                        {% render_field form.end_time type="time" class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Laboratório</label>
                          {% render_field form.laboratorio_id class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label>Professor</label>
                        {% render_field form.professor_id class+="form-control" %}
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>Disciplina</label>
                      {% render_field form.disciplina_id class+="form-control" %}
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>Curso</label>
                      {% render_field form.curso_id class+="form-control" %}
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                      </div>
                  </div>
              </div>
              </form>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(function () {
    $("#table-lab").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>

<script>
    $(document).ready(function () {
    $('#form-reserva').validate({
      rules: {
        evento: {
          required: true,
          maxlength: 100
        },
        responsavel: {
          required: true,
          maxlength: 100
        },
        contato: {
          required: true
        },
        email: {
          required: true,
          email: true
        },
        start_day: {
          required: true,
        },
        end_day: {
          required: true,
        },
        laboratorio_id: {
          required: false,
        },
        professor_id: {
          required: false,
        },
        curso_id: {
          required: false,
        },
        disciplina_id: {
          required: false,
        }
      },
      messages: {
        evento: {
          required: "Esse campo é obrigatório",
          maxlength: "Máximo 100 caracteres",
        },
        responsavel: {
          required: "Esse campo é obrigatório",
          maxlength: "Máximo 100 caracteres",
        },
        contato: {
          required: "Esse campo é obrigatório",
        },
        email: {
          required: "Esse campo é obrigatório",
        },
        start_day: {
          required: "Esse campo é obrigatório",
        },
        end_day: {
          required: "Esse campo é obrigatório",
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        $(element).addClass('is-valid');
      }
    });
  });
  </script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
