{% extends 'auth/base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="login-box">
    <!-- <div class="login-logo">
      <img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid">
    </div> -->
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg"><img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid"></p>
        {% if form.errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
          {{ form.errors }}
        </div>
        {% endif %}
        <form action="#" method="post">
            {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuário" name="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Senha" name="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <p class="mb-1">
          <a href="forgot-password.html">Eu esqueci a minha senha!</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'registrar' %}" class="text-center">Criar conta</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

{% endblock %}
