{% extends 'auth/base.html' %}
{% load static %}

{% block title %} Registro {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="login-box">
    <!-- <div class="login-logo">
      <a href="#"><b>Admin</b>LTE</a>
    </div> -->
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <!-- <p class="login-box-msg">Sign in to start your session</p> -->
        <p class="login-box-msg"><img src=" {% static 'dist/img/unimontes.png' %} " alt="Logo unimontes" class="img-fluid"></p>

        <form method="post" class="form-signin">
            {% csrf_token %}

            <div class="input-group mb-3">
              {% render_field form.username class+="form-control" placeholder="Email" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {% render_field form.first_name class+="form-control" placeholder="Nome" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {% render_field form.last_name class+="form-control" placeholder="Sobrenome" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {% render_field form.masp class+="form-control" placeholder="MASP" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {% render_field form.password1 class+="form-control" placeholder="Senha" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              {% render_field form.password2 class+="form-control" placeholder="Repita a senha" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <!--{{form}}-->
      

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Lembrar-me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <p class="mb-1">
          <a href="forgot-password.html">Eu esqueci a minha senha!</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'login' %}" class="text-center">Já tenho conta</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

{% endblock %}
