{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Laboratórios - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> <label>{{ laboratorio.name }}</label></h3>
        </div>
        <div class="card-body">
          <p> <label>Quantidade de Computadores: </label> {{ qnt }}</p>
          
          <div class="row">
            {% for p in pcs %}
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-dark"><i class="fas fa-laptop"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-number"> Código: {{ p.codigo }} </span>
                    <span class="info-box-number"> Patrimônio: {{ p.patrimonio }} </span>
                    {% if p.funciona %}
                    <span class="info-box-number"> Funcionando: Sim</span>
                    {% else %}
                    <span class="info-box-number"> Funcionando: Não</span>
                    {% endif %}
                    {% if p.dual_boot %}
                    <span class="info-box-number"> Dual Boot: Sim</span>
                    {% else %}
                    <span class="info-box-number"> Dual Boot: Não</span>
                    {% endif %}
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
          
        </div>
        <div class="card-footer">
            <a href="{% url 'laboratorio-update' laboratorio.pk %}" class="btn btn-outline-info">Editar</a>
            <a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Excluir</a>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'laboratorio-delete' laboratorio.pk %}" method="post">
            {% csrf_token %}
            Realmente deseja excluir o <code>{{ laboratorio.name }}</code> ?
            Essa ação não poderá ser desfeita!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
