{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Laboratórios - Painel de Controle {% endblock %} 

{% block head %}

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> <label>{{ laboratorio.name }}</label></h3>
        </div>
        <div class="card-body">

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link text-center" id="nav-pcs-disponiveis-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-check-circle fa-2x"></i> <br>Computadores Disponíveis</a>
              <a class="nav-item nav-link text-center" id="nav-pcs-manutencao-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-tools fa-2x"></i> <br>Computadores em Manutenção</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-pcs-disponiveis-tab">
              
              <br> <p> <label>Total: </label> {{ qnt_pcs }}</p>

              <div class="row">
                {% for p in pcs %}
                <div class="col-md-3 col-sm-6 col-12">
                  <a href="{% url 'computador-detail' p.pk %}" target="_blank" rel="noreferrer noopener">
                    <div class="info-box">
                      <span class="info-box-icon bg-dark"><i class="fas fa-laptop"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-number"> Código: {{ p.codigo }} </span>
                        <span class="info-box-number"> Patrimônio: {{ p.patrimonio }} </span>
                        {% if p.funciona %}
                        <span class="info-box-number"> Funcionando: Sim</span>
                        {% else %}
                        <span class="info-box-number"> Funcionando: Não</span>
                        {% endif %}
                        {% if p.dual_boot %}
                        <span class="info-box-number"> Dual Boot: Sim</span>
                        {% else %}
                        <span class="info-box-number"> Dual Boot: Não</span>
                        {% endif %}
                      </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-pcs-manutencao-tab">
              
              <br> <p> <label>Total: </label> {{ qnt_pcs_manutencao }}</p>
          
              <div class="row">
                {% for p in pcs_manutencao %}
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-dark"><i class="fas fa-laptop"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-number"> Código: {{ p.codigo }} </span>
                        <span class="info-box-number"> Patrimônio: {{ p.patrimonio }} </span>
                        {% if p.funciona %}
                        <span class="info-box-number"> Funcionando: Sim</span>
                        {% else %}
                        <span class="info-box-number"> Funcionando: Não</span>
                        {% endif %}
                        {% if p.dual_boot %}
                        <span class="info-box-number"> Dual Boot: Sim</span>
                        {% else %}
                        <span class="info-box-number"> Dual Boot: Não</span>
                        {% endif %}
                      </div>
                    </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
            <a href="{% url 'laboratorio-update' laboratorio.pk %}" class="btn btn-info">Editar</a>
            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Excluir</a>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'laboratorio-delete' laboratorio.pk %}" method="post">
            {% csrf_token %}
            Realmente deseja excluir o <code>{{ laboratorio.name }}</code> ?
            Essa ação não poderá ser desfeita!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
