{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Laboratórios - Painel de Controle {% endblock %} 

{% block head %}

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label> {{ laboratorio.name }} </label></h3>
        </div>
        <div class="card-body">
            <form method="POST" autocomplete="off" id="form-laboratorio">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Nome:</label>
                            {% render_field form.name class+="form-control" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
              </form>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>


<script>
  $(document).ready(function () {
  $('#form-laboratorio').validate({
    rules: {
      name: {
        required: true,
      },
    },
    messages: {
      name: {
        required: "Esse campo é obrigatório",
      },
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
      $(element).addClass('is-valid');
    }
  });
});
</script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
