{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Empréstimos - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
 
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label>Empréstimos</label></h3>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Listagem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Cadastrar</a>
            </li>
          </ul>
          <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
              <br>
              <table id="table-emprestimo" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th class="text-center">Evento</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Responsável</th>
                        <th class="text-center">Contato</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in emprestimos %}
                        <tr>
                            <td>{{ e.evento }}</td>
                            <td>{{ e.date }}</td>
                            <td>{{ e.responsavel }}</td>
                            <td>{{ e.contato }}</td>
                            <td>
                                <a href="{% url 'emprestimo-detail' e.pk %}" title="Informações"><i class="far fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
              </table>
           </div>
           <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
            <br>
            <form method="POST" autocomplete="off" id="form-emprestimo">
              {% csrf_token %}
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Evento:</label>
                          {% render_field form.evento class+="form-control" %}
                          <p class="text-danger">{{ form.evento.errors }}</p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Date:</label>
                          {% render_field form.date type="datetime-local" class+="form-control" %}
                          <p class="text-danger">{{ form.date.errors }}</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Responsável:</label>
                        {% render_field form.responsavel class+="form-control" %}
                        <p class="text-danger">{{ form.responsavel.errors }}</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>E-mail:</label>
                        {% render_field form.email class+="form-control" %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Contato:</label>
                        <input type="text" class="form-control" name="contato" id="test" data-inputmask='"mask": "(99) 9999-9999"' data-mask>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Computador:</label>
                        {% render_field form.computador class+="form-control" %}
                    </div>
                </div>
                <input name="user_id" type="hidden" value="{{ request.user.id }}">
                </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                      </div>
                  </div>
              </div>
            </form>
           </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>

<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

<script>
  $(document).ready(function(){
    $('#test').inputmask('(99) 9999-9999');
  });
</script>

<script>
  $(function () {
    $("#table-emprestimo").DataTable({
      "responsive": true,
      "autoWidth": false,
      "columns": [
                    { orderable: true },
                    { orderable: true },
                    { orderable: true },
                    { orderable: true },
                    { orderable: false },
                ],
      // "dom": "Bfrtip",
      // "buttons": [
      //     { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir', className: 'btn-sm btn-primary' },
      //     { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF', className: 'btn-sm btn-primary'},
      //     { extend: 'csv', text: '<i class="fas fa-file-alt"></i> CSV', className: 'btn-sm btn-primary'},
      // ],
      "language": {
                processing:     "Processando...",
                search:         "Pesquisar",
                lengthMenu:     "_MENU_ resultados por página",
                info:           "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                infoEmpty:      "Mostrando 0 até 0 de 0 registros",
                infoFiltered:   "(Filtrados de _MAX_ registros)",
                infoPostFix:    "",
                loadingRecords: "Carregando...",
                zeroRecords:    "Nenhum registro encontrado",
                emptyTable:     "Nenhum registro encontrado",
                aria: {
                    sortAscending:  ": Ordenar colunas de forma ascendente",
                    sortDescending: ": Ordenar colunas de forma descendente"
                },
                select: {
                    rows: {
                        "_": "Selecionado %d linhas",
                        "0": "Nenhuma linha selecionada",
                        "1": "Selecionado 1 linha"
                    }
                },
                paginate: {
                    previous: "<i class='fas fa-angle-left'>",
                    next: "<i class='fas fa-angle-right'>"
                },
              }
    });
  });
</script>

<script>
  $(document).ready(function () {
  $('#form-emprestimo').validate({
    rules: {
      evento: {
        required: true,
        maxlength: 200,
        minlength: 5,
      },
      data: {
        required: true,
      },
      responsavel: {
        required: true,
        maxlength: 200,
        minlength: 5,
      },
      email: {
        email: true,
        required: true,
      },
      contato: {
        required: true,
      },
      computador: {
        required: true,
      }
    },
    messages: {
      evento: {
        required: "Esse campo é obrigatório",
        maxlength: "Máxmimo de 200 caracteres",
        minlength: "Mínimo de 5 caracteres",
      },
      data: {
        required: "Esse campo é obrigatório",
      },
      responsavel: {
        required: "Esse campo é obrigatório",
        maxlength: "Máxmimo de 200 caracteres",
        minlength: "Mínimo de 5 caracteres",
      },
      email: {
        email: "Insira um email válido",
        required: "Esse campo é obrigatório",
      },
      contato: {
        required: "Esse campo é obrigatório",
      },
      computador: {
        required: "Esse campo é obrigatório",
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
      $(element).addClass('is-valid');
    }
  });
});
</script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
