{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Aulas - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label>Aulas</label></h3>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Listagem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile" role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Cadastrar</a>
            </li>
          </ul>
          <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
              <br>
              <table id="table-lab" class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th class="text-center">Professor</th>
                        <th class="text-center">Laboratório</th>
                        <th class="text-center">Disciplina</th>
                        <th class="text-center">Curso</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in aulas %}
                        <tr>
                            <td>{{ a.professor }}</td>
                            <td>{{ a.laboratorio }}</td>
                            <td>{{ a.disciplina }}</td>
                            <td>{{ a.curso }}</td>
                            <td>
                                <a href="{% url 'aula-detail' a.pk %}" title="Informações"><i class="far fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
           </div>
           <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">
            <br>
            <form method="POST" autocomplete="off" id="form-aula">
              {% csrf_token %}
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Dia:</label>
                          {% render_field form.dia class+="form-control" %}
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Data Início</label>
                        {% render_field form.start_day type="date" class+="form-control" %}
                        <p class="text-danger">{{ form.start_day.errors }}</p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>Hora Início</label>
                      {% render_field form.start_time type="time" class+="form-control" %}
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>Data Fim</label>
                      {% render_field form.end_day type="date" class+="form-control" %}
                      <p class="text-danger">{{ form.end_day.errors }}</p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>Hora Fim</label>
                      {% render_field form.end_time type="time" class+="form-control" %}
                      <p class="text-danger">{{ form.end_time.errors }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Laboratório</label>
                        {% render_field form.laboratorio class+="form-control" %}
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                      <label>Professor</label>
                      {% render_field form.professor class+="form-control" %}
                  </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                    <label>Disciplina</label>
                    {% render_field form.disciplina class+="form-control" %}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                    <label>Curso</label>
                    {% render_field form.curso class+="form-control" %}
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
            </form>
           </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>

<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

<script>
  $(function () {
    $("#table-lab").DataTable({
      "responsive": true,
      "autoWidth": false,
      "columns": [
                    { orderable: true },
                    { orderable: true },
                    { orderable: true },
                    { orderable: true },
                    { orderable: false },
                ],
      // "dom": "Bfrtip",
      // "buttons": [
      //     { extend: 'print', text: '<i class="fas fa-print"></i> Imprimir', className: 'btn-sm btn-primary' },
      //     { extend: 'pdf', text: '<i class="fas fa-file-pdf"></i> PDF', className: 'btn-sm btn-primary'},
      //     { extend: 'csv', text: '<i class="fas fa-file-alt"></i> CSV', className: 'btn-sm btn-primary'},
      // ],
      "language": {
                processing:     "Processando...",
                search:         "Pesquisar",
                lengthMenu:     "_MENU_ resultados por página",
                info:           "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                infoEmpty:      "Mostrando 0 até 0 de 0 registros",
                infoFiltered:   "(Filtrados de _MAX_ registros)",
                infoPostFix:    "",
                loadingRecords: "Carregando...",
                zeroRecords:    "Nenhum registro encontrado",
                emptyTable:     "Nenhum registro encontrado",
                aria: {
                    sortAscending:  ": Ordenar colunas de forma ascendente",
                    sortDescending: ": Ordenar colunas de forma descendente"
                },
                select: {
                    rows: {
                        "_": "Selecionado %d linhas",
                        "0": "Nenhuma linha selecionada",
                        "1": "Selecionado 1 linha"
                    }
                },
                paginate: {
                    previous: "<i class='fas fa-angle-left'>",
                    next: "<i class='fas fa-angle-right'>"
                },
              }
    });
  });
</script>

<script>
  $(document).ready(function () {
  $('#form-aula').validate({
    rules: {
      dia: {
        required: true,
      },
      start_day: {
        required: true,
      },
      start_time: {
        required: true,
      },
      end_time: {
        required: true,
      },
      end_day: {
        required: true,
      },
      laboratorio_id: {
        required: true,
      },
      professor_id: {
        required: true,
      },
      curso_id: {
        required: true,
      },
      disciplina_id: {
        required: true,
      }
    },
    messages: {
      start_day: {
        required: "Esse campo é obrigatório",
      },
      start_time: {
        required: "Esse campo é obrigatório",
      },
      end_time: {
        required: "Esse campo é obrigatório",
      },
      end_day: {
        required: "Esse campo é obrigatório",
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
      $(element).addClass('is-valid');
    }
  });
});
</script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
