{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Aulas - Painel de Controle {% endblock %} 

{% block head %}

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label>{{ aula.name }}</label></h3>
        </div>
        <div class="card-body">
          <p> <label>Curso: </label> {{ aula.curso }}</p>
          <p> <label>Disciplina: </label> {{ aula.disciplina }}</p>
          {% if aula.dia == '1' %}
            <p> <label>Dia: </label> Segunda </p>
          {% elif aula.dia == '2' %}
            <p> <label>Dia: </label> Terça </p>
          {% elif aula.dia == '3' %}
            <p> <label>Dia: </label> Quarta </p>
          {% elif aula.dia == '4' %}
            <p> <label>Dia: </label> Quinta </p>
          {% elif aula.dia == '5' %}
            <p> <label>Dia: </label> Sexta </p>
          {% elif aula.dia == '6' %}
            <p> <label>Dia: </label> Sábado </p>
          {% elif aula.dia == '7' %}
            <p> <label>Dia: </label> Domingo </p>
          {% endif %}
          <p> <label>Laboratório: </label> {{ aula.laboratorio }}</p>
          <p> <label>Professor: </label> {{ aula.professor }}</p>
          <p> <label>Dia início: </label> {{ aula.start_day }}</p>
          <p> <label>Dia término: </label> {{ aula.end_day }}</p>
          <p> <label>Hora início: </label> {{ aula.start_time }}</p>
          <p> <label>Hora término: </label> {{ aula.end_time }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'aula-update' aula.pk %}" class="btn btn-info">Editar</a>
            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Excluir</a>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'aula-delete' aula.pk %}" method="post">
            {% csrf_token %}
            Realmente deseja excluir a aula <code>{{ aula.name }}</code> ?
            Essa ação não poderá ser desfeita!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
