{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Manutenção - Painel de Controle {% endblock %} 

{% block head %}

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label> Manutenção Computador: {{ manutencao.pc_codigo }} </label></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <p> <label>Patrimônio:</label> {{manutencao.pc_codigo.patrimonio }}</p>
              {% if manutencao.status == 'Em Curso' %}
              <p><label>Status: <span class="badge badge-warning">Em curso</span></label></p>
              {% else %}
              <p><label>Status: <span class="badge badge-success">Resolvido</span></label></p>
              {% endif %}
              <p><label>Data início:</label> {{ manutencao.data_inicio }}</p>
              {% if manutencao.data_fim %}
              <p><label>Data fim:</label> {{ manutencao.data_fim }}</p>
              {% endif %}
              <p><label>Responsável pela manutenção:</label> {{ manutencao.user.get_full_name }}</p>
              {% if manutencao.descricao %}
              <p><label>Descrição:</label></p>
              <p>{{ manutencao.descricao }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer">
            {% if manutencao.status == 'Em Curso' and request.user.get_full_name == manutencao.user.get_full_name %}
                <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#modalUpdate">Editar</a>
            {% endif %}
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- Modal Update-->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Descreva o que foi feito na manutenção. Após a confirmação, o status será atualizado
            para concluído.
          </p>
          <form action="{% url 'manutencao-update' %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" name="descricao" rows="7"></textarea>
            <input type="hidden" name="manutencao_id" value="{{ manutencao.id }}">        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-success">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
