{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Manutenção - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
 
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label>Todas as Manutenções</label></h3>
        </div>
        <div class="card-body">
            <table>
                <table id="table-lab" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th class="text-center">Computador</th>
                            <th class="text-center">Data Início</th>
                            <th class="text-center">Data Término</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Responsável</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in manutencoes %}
                            <tr>
                                <td>{{ m.pc_codigo }}</td>            
                                <td>{{ m.data_inicio }}</td>
                                <td>{{ m.data_fim }}</td>
                                <td>{{ m.status }}</td>
                                <td>{{ m.user.get_full_name }}</td>
                                <td>
                                    <a href="{% url 'manutencao-detail' m.pk %}" title="Informações"><i class="far fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </table>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>

<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>

<script>
  $(function () {
    $("#table-lab").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
