{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Computador - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label>Editar Computador <code>{{ computador.codigo }}</code></label></h3>
        </div>
        <div class="card-body">
            <form method="POST" autocomplete="off" id="form-pc">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Código:</label>
                            {% render_field form.codigo class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Patrimônio:</label>
                            {% render_field form.patrimonio class+="form-control" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Dual Boot?</label>
                          {% render_field form.dual_boot class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Funciona?</label>
                          {% render_field form.funciona class+="form-control" %}
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>Processador:</label>
                          {% render_field form.processador class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>HD:</label>
                          {% render_field form.hd class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                          <label>RAM:</label>
                          {% render_field form.ram class+="form-control" %}
                      </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Laboratório</label>
                      {% render_field form.laboratorio class+="form-control" %}
                    </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Software</label>
                      {% render_field form.software class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
              </form>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- jquery-validation -->
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(function () {
    $("#table-lab").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>

<script>
    $(document).ready(function () {
    $('#form-pc').validate({
      rules: {
        codigo: {
          required: true,
        },
        patrimonio: {
          required: true,
          maxlength: 15
        },
        dual_boot: {
            required: false,
        },
        funciona: {
            required: false,
        },
        processador: {
            required: true,
        },
        ram: {
            required: true,
        },
        hd: {
            required: true,
        },
        laboratorio: {
            required: true,
        },
        software: {
            required: true,
        }
      },
      messages: {
        patrimonio: {
          required: "Esse campo é obrigatório",
          maxlength: "Máximo 15 caracteres",
        },
        codigo: {
          required: "Esse campo é obrigatório",
        },
        dual_boot: {
            required: "Esse campo é obrigatório",
        },
        funciona: {
            required: "Esse campo é obrigatório",
        },
        hd: {
            required: "Esse campo é obrigatório",
        },
        ram: {
            required: "Esse campo é obrigatório",
        },
        processador: {
            required: "Esse campo é obrigatório",
        },
        laboratorio: {
            required: "Esse campo é obrigatório",
        },
        software: {
            required: "Esse campo é obrigatório",
        }
  
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        $(element).addClass('is-valid');
      }
    });
  });
</script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
