{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Solicitações - Painel de Controle {% endblock %} 

{% block head %}

{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><label>Status: </label></h3>
          {% if solicitacao.status == 'P' %}
            <span class="badge badge-pill badge-primary"> Pendente</span>
          {% else %}
            <span class="badge badge-pill badge-success"> Concluída</span>
          {% endif %} 
        </div>
        <div class="card-body">
          <p><label>Solicitante: </label> {{ solicitacao.user.get_full_name }}</p>
          <p><label>Curso: </label> {{ solicitacao.curso }}</p>
          <p><label>Disciplina: </label> {{ solicitacao.disciplina }}</p>
          <p><label>Quantidade de alunos: </label> {{ solicitacao.qnt_alunos }}</p>
          <p>
            {% if solicitacao.observacao %}
            <label>Obersavções: </label> {{ solicitacao.observacao }}
            {% else %}
            <label>Obersavções: </label> Não há
            {% endif %}
          </p>
          <label>Softwares Requisitados: </label><br>
          <p>
          {% for s in solicitacao.software.all %}
            <span class="badge badge-pill badge-dark">{{ s }}</span>
          {% endfor %}
          {% if resp != '0' %}
          <p><label>Resposta: </label> {{ resp }}</p>
          {% endif %}
          </p>
        </div>
        <div class="card-footer">
          {% if solicitacao.status == 'P' %}  
            {% if request.user.is_staff %}
            <a href="{% url 'solicitacao-update' solicitacao.pk %}" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">Responder</a>
            {% else %}
            <a href="{% url 'solicitacao-update' solicitacao.pk %}" class="btn btn-outline-info">Editar</a>
            <a href="" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Cancelar</a>
            {% endif %}
          {% endif %}
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'solicitacao-delete' solicitacao.pk %}" method="post">
            {% csrf_token %}
            Realmente deseja cancelar a {{ solicitacao.professor }} ?
            Essa ação não poderá ser desfeita!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- modal resposta-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><b>Responder Solicitação: <code>{{ solicitacao.id }}</code></b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'resposta-create' %}" method="post">
          {% csrf_token %}
          <label>Resposta: </label>
          <textarea name="resposta" class="form-control" cols="30" rows="10" required></textarea>
          <input type="hidden" name="solicitacaoreserva_id" value="{{ solicitacao.id }}">
          <input type="hidden" name="user_id" value="{{ request.user.id }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Responder</button>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
